*,*:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

body {
	font-family: Montserrat;
}













.header {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header-body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.header-logo {
	flex: 0 0 60px;
	overflow: hidden;
	position: relative;
	z-index: 3;
}

.header-logo img {
	max-width: 100%;
	display: block;
}

.header-burger {}
.header-menu {

}

.header-list {
	display: flex;
	position: relative;
	z-index: 2;
}

.header-list li {
	list-style-type: none;
	margin: 0 0 0 20px;
}

.header-link {
	color: #000;
	font-size: 18px;
	text-decoration: none;
}

.header-link:hover {
	text-decoration: none;
	color: #000;
}

@media (max-width: 767px) {

	body.lock {
		overflow: hidden;
	}

	/*.header {
		position: fixed;
	}*/

	.header-logo {
		display: none;
	}

	.header-body {
		height: 58px;
		justify-content: flex-end;
	}
	.header-logo {
		flex: 0 0 50px;
	}
	.header-burger {
		display: block;
		cursor: pointer;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

	.header-burger span {
		position: absolute;
		background-color: #B8EE46;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease-out;
	}
	.header-burger:before,
	.header-burger:after {
		content: '';
		background-color: #B8EE46;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease-out;
	}
	.header-burger:before {
		top: 0;
	}
	.header-burger:after {
		bottom: 0;
	}

	.header-burger.active span {
		transform: scale(0);
	}

	.header-burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header-burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header-burger.active {

	}

	.header-menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease-out;
		background-color: #333333;
		padding: 70px 10px 20px 10px;
	}

	.header-menu.active {
		top: 0;
	}

	.header-list {
		display: block;
	}

	.header-list li {
		margin: 0 0 20px 0;
	}
	.nav2 {
		position: fixed;
		top: 0;
		left: -999px;
		height: 100%;
		width: 100%;
		z-index: 1000;
		overflow-y: auto;
		padding: 45px;
		transition: all .30s;
	}
	.nav2 .nav-item {
		display: block;
		margin-bottom: 32px;
		text-align: center;
		justify-content: center;	
	}
	.nav {
		display: block;
	}
	.vendo-cnstrctns {
		margin: 0 auto;
	}
	.nav2 .container-fluid .row ul {
		margin-top: 30px;
	}
	.close_mob_menu {
		position: absolute;
		cursor: pointer;
		top: 15px;
		right: 15px;
	}
	.mobile_menu_active {
		left: 0;
		transition: all .30s;
	}

	.mob_menu_logo {
		margin-left: 43px;
		margin-top: 50px;
	}

}


@media (min-width: 768px) {
	.close_mob_menu, .mob_menu_logo {
		display: none;
	}
}


























/*.wrapper {
	max-width: 1336px;
	margin: 0 auto;
}*/

.container-fluid {
	max-width: 1336px;
}

.top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}

.top-menu a {
	color: #000000;
	text-decoration: none;
	font-size: 22px;
}

nav {
	font-family: Montserrat;
}

nav.navbar {
	justify-content: space-between;
	width: 100%;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 35px;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
	padding-right: 0;
}

.navbar-toggler {
	border: none;
	outline: none;
}

.navbar-light .navbar-toggler-icon {
	background-image: url('../img/burger.svg');
}

.logo div {
    margin-left: auto;
    margin-right: auto;
    width: 6.5rem;
    height: 6.5rem;
    border: 1px solid #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px;

}

.logo div span {
	font-weight: 900;
	text-transform: uppercase;
}

#navbarNav {
	width: 100%;
	justify-content: end;
}

.nav2 {
	background-color: #333333;
	padding: 15px 0 20px 0;
}

.nav2 a {
	color: #fff;
	text-decoration: none;
	font-size: 20.5px;
}

.nav2 a:hover {
	color: #fff;
}

.nav2 .nav-link {
	padding: 0.5rem 0.3rem;
}

.vendo-cnstrctns {
	text-align: center;
}

/*nav .container-fluid {
	padding: 0 45px;
	display:flex;
}*/

.nav2 .container-fluid .row {
	justify-content: space-between;
	width: 100%;
}

.nav2 .container-fluid .row ul {
	width: 100%;
}

.nav2 .container-fluid .row ul li:last-child a {
	padding-right: 0;
}

.nav2 .nav-item {
	display: flex;
	align-items: center;
}

.nav2 .nav-link {
	padding-top: 0;
	padding-bottom: 0;
}

.nav2 .nav {
	margin-left: 15px;
}

.vendo-cnstrctns {
	max-width: 280px;
}

.top-section {
	
}
.top-section_headline {
	padding-left: 41px;
}
.top-section_headline p {
	font-size: 29px;
	color: #000;
	font-family: Montserrat;
	margin-bottom: 0;
}

.top-section_headline h1 {
	margin: 0;
	font-size: 64px;
	color: #222;
	font-weight: normal;
	font-family: Montserrat;
}

.top-section_headline h1 span {
	font-weight: 900;
}

.top-section_headline a {
	margin-top: 17px;
	display: inline-block;
	padding: 16px 24px;
	background: #B8EE46;
	font-size: 20px;
	color: #000;
	text-decoration: none;
	position: relative;
}

.top-section_headline:before {
	position: absolute;
	content: '';
	width: 304.5px;
	height: 308.5px;
	border: 3px solid #B8EE46;
	bottom: -22px;
	left: 22px;
	z-index: -2;
}
.top-section_headline:after {
	content: '';
    position: absolute;
    width: 304.5px;
    height: 152px;
    left: 22px;
    bottom: 62px;
    border-left: 3px solid #B8EE46;
    border-right: 3px solid #fff;
    z-index: -1;
}
.top-section_headline_desctop {
	position: relative;
	padding-top: 288px;
	padding-bottom: 230px;
}
.top-section_img_wrapper {
	position: absolute;
	right: 0;
	top: 0;
}

.dots-of-squares {
	position: absolute;
	right: 0;
	display: none;
	margin-top: 65px;
}

.slider-services {
	font-family: Montserrat;
	padding: 110px 0 20px 0;
}

.slider-services .item {
	padding: 0 30px;
	min-height: 233.17px;
	display: flex !important;
	align-items: center;
	font-weight: 500;
	text-align: center;
	font-size: 18px;
	line-height: 180%;
	color: #000000;
}

.slider-services h2 {
	color: #333333;
	margin-bottom: 87px;
	font-weight: 800;
	font-size: 40px;
}

.slider-services .item p {
	margin-bottom: 0;
	margin: 0 auto;
}

.slider-services .slider .slick-current + .slick-active .item {
	padding: 0 30px;
	display: flex !important;
	align-items: center;
	background-color: #fff;
	border: 2px solid #333333;
	min-height: 233.17px;
}

.slider-services .slick-prev, .slick-next {
    width: 37px;
    height: 55px;
}

.slider-services .slick-prev {
    left: -50px;
}

.slider-services .slick-next {
    right: -50px;
}

.slider-services .slick-next.slick-arrow:before{
    background: url('../img/arrowRight.svg') center no-repeat;
    width: 37px;
    height: 55px;
    content: '';
    display: block;
}

.slider-services .slick-prev.slick-arrow:before{
    background: url('../img/arrowLeft.svg') center no-repeat;
    width: 37px;
    height: 55px;
    content: '';
    display: block;
}

.slick-dots li.slick-active button:before {
    content: '■';
    font-size: 23px;
    opacity: 1;
}

.slick-dots {
    bottom: -50px;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li.slick-active button:before {
	color: #333333;
}

.slick-dots li button:before {
    content: '■';
    font-size: 23px;
    color: #B8EE46;
    opacity: 1;
}

.slider-services .slick-dots {
	display: none !important;
}



.bg-half-green {
	width: 100%;
    height: 100%;
    background: linear-gradient(to top, #CEF47E 50%, #ffffff 50%);
}

.project-in-digits {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
					rgba(51, 51, 51, 0.7), 
					rgba(51, 51, 51, 0.7)
				),
				url('../img/8iIIjeQSmIU2.jpg');
	background-repeat: no-repeat;
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
	height: auto;
	min-height: 1194px;
	background-size: cover;
	color: #fff;
}

.project-in-digits h2 {
	font-weight: 800;
	margin-bottom: 52px;
	font-size: 40px;
	font-family: Montserrat;
}

.project-in-digits .h3 {
	font-family: Montserrat;
	font-size: 1.875rem;
}

.project-in-digits p {
	font-family: Montserrat;
}

.project-in-digits a {
	padding: 16px 47px !important;
	margin-bottom: 5px;
}

.amount-and-prices p, .amount-and-prices .p {
	font-size: 25px;
}

.amount-and-prices .p {
	color: #B8EE46;
	font-family: Montserrat;
}

.amount-and-prices p {
	line-height: 29px;
}

.big-digit {
    font-size: 120px;
	font-family: 'Anton', sans-serif;
	color: transparent;
	-webkit-text-stroke: 2px rgba(184,238,70,1);
	text-stroke: 1px rgba(184,238,70,1);
}

.we-guarantee {
	margin-top: 134px;
}

.we-guarantee .h3 {
	font-weight: normal;
}

.if-you-want {
	background-color: #CEF47E;
	font-family: Montserrat;
	padding: 38px 0 103px 0;
}

.if-you-want .container-fluid h2 {
	margin-bottom: 70px;
	font-weight: 800;
	font-size: 40px;
}

.if-you-want .container-fluid h3 {
	margin-bottom: 12px;
}

.if-you-want .card-info {
	min-height: 210px;
}

.card-info p {
	font-size: 18px;
}

.card-info h3 {
	margin-bottom: 42px;
}

.what-do-you-get {
	font-family: Montserrat;
	padding: 104px 0 70px 0;
}

.what-do-you-get .item {
	padding: 0 20px;
	display: flex !important;
	min-height: 242px;
	align-items: center;
	font-weight: 500;
	text-align: center;
	font-size: 18px;
	line-height: 180%;
	color: #000000;
}

.what-do-you-get h2 {
	color: #333333;
	margin-bottom: 77px;
	font-weight: 800;
	font-size: 40px;
}

.what-do-you-get .item p {
	margin-bottom: 0;
}

.what-do-you-get .slider .slick-current + .slick-active .item {
	background-color: #333333;
	color: #FFFFFF
}

.what-do-you-get .slick-prev.slick-arrow,
.what-do-you-get .slick-next.slick-arrow {
	padding-bottom: 75px;
}

.what-do-you-get .slick-prev, .slick-next {
    width: 37px;
    height: 55px;
}

.what-do-you-get .slick-prev {
    left: -50px;
}

.what-do-you-get .slick-next {
    right: -50px;
}

.what-do-you-get .slick-next.slick-arrow:before{
    background: url('../img/arrowRight.svg') center no-repeat;
    width: 37px;
    height: 55px;
    content: '';
    display: block;
}

.what-do-you-get .slick-prev.slick-arrow:before{
    background: url('../img/arrowLeft.svg') center no-repeat;
    width: 37px;
    height: 55px;
    content: '';
    display: block;
}

.detailed-consultationem {
	background-color: #333333;
	clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
	font-family: Montserrat;
	padding: 192px 0 102px 0;
}

.detailed-consultationem h2 {
	font-weight: 800;
	color: #fff;
	margin-bottom: 30px;
	font-size: 40px;
}

.detailed-consultationem h4 {
	color: #fff;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 46px;
	font-weight: 400;
}

.detailed-consultationem form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 420px;	
	width: 100%;
	margin: 0 auto;
}

.detailed-consultationem label {
	color: #fff;
	margin-bottom: 0;
}

.detailed-consultationem input {
	margin: 0 auto;
	width: 100%;	
	border: 1px solid #B8EE46;
	box-sizing: border-box;
	background-color: #333333;
	height: 53px;
	color: #fff;
	margin-bottom: 11px;
}

.detailed-consultationem input[type="text"] {
	padding: 5px 10px;

}

.get-consultation {
	font-family: 'Roboto', sans-serif;
	border: none;
	cursor: pointer;
	font-size: 14px;
	margin: 0 auto;
	margin-top: 24px;
	max-width: 391px;
	width: 100%;
    padding: 16px;
    background: #B8EE46;
    font-size: 20px;
    color: #333333;
    text-decoration: none;
}

.detailed-consultationem h6 {
	font-size: 18px;
	margin-top: 30px;
	line-height: 22px;
	font-weight: 400;
	color: #FFF;
}

.detailed-consultationem h6 span {
	text-decoration: underline;
	color: #fff;
}

.our-team_slider {
	background: #fff;
	padding: 110px 0 114px 0;
}

.our-team_slider h2 {
	font-family: Montserrat;
	font-weight: 800;
	font-size: 40px;
	margin-bottom: 80px;
}

.our-team_slider .container {
	max-width: 1170px;
}

.our-team_slider_container {
	padding-left: 58px;
	padding-top: 20px;
	margin-left: -58px;
	overflow: hidden;
}

.our-team_slider_container .draggable {
	overflow: visible;
}

.our-team_slider_container .slick-slide {
	margin-right: 77px;
	margin-left: 77px;
}

.our-team_slider_item {
	width: 500.96px;
	height: 300.96px;
	position: relative;
	background: #333333;
	border-radius: 4px;
	padding: 30px 30px 30px 188px;
}

.our-team_slider_item img {
	position: absolute;
	left: -100px;
	top: -78px;
}

.our-team_slider .slick-next.slick-arrow:before{
    background: url('../img/Vector11.svg') center no-repeat;
    width: 37px;
    height: 55px;
    content: '';
    display: block;
}

.our-team_slider .slick-prev.slick-arrow:before,
.our-team_slider .slick-prev.slick-arrow:after {
    width: 37px;
    height: 55px;
    content: '';
    display: block;
}
.our-team_slider .slick-prev.slick-arrow:before {
	background: url('../img/Vector10.svg') center no-repeat;
}

.our-team_slider .slick-prev {
    left: -50px;
	z-index: 9999;
}

.our-team_slider .slick-prev.slick-arrow {
    right: 0px;
	width: 37px;
    height: 55px
}

.our-team_slider .slick-next {
	right: 0;
}

.our-team_slider .slick-dots {
    bottom: -80px;
}

.our-team_slider .slick-dotted.slick-slider {
	margin-bottom: 80px;
}


.slider-license-docs {
	background-color: #CEF47E;
	padding: 105px 0 160px 0;
}

.slider-license-docs_wrapper {
	max-width: 1336px;
}

/* .slider-license-docs  .slider_wrap * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	}
.slider-license-docs .slick-slide { 
	margin: 0 40px;
}
.slider-license-docs .slider-item img { 
	max-width: 100%;
} */

.slider-license-docs h2 {
	font-family: Montserrat;
	margin-bottom: 80px;
	font-weight: 800;
	font-size: 40px;
}

.slider-license-docs .slick-prev.slick-arrow, 
.slider-license-docs .slick-next.slick-arrow {
	display: none !important;
}

.slider-license-docs .slick-dots {
	bottom: -70px;
}

.slider-license-docs .slick-dots li button:before {
	color: #fff;
}

.slider-license-docs .slick-dots li.slick-active button:before {
	color: #333333;
	opacity: 1;
}

.redevelopment {
	background-color: #333333;
	color: #fff;
	padding: 104px 0 115px 0;
	/*background-image: url('../img/Frame83.png');
	background-position: right 60%*/;
	background-repeat: no-repeat;
}

.redevelopment h2 {
	font-family: Montserrat;
	font-weight: 800;
	font-size: 40px;
	margin-bottom: 63px;
}

.redevelopment .h4 {
	font-weight: 400;
	margin-bottom: 0;
}

.redevelopment a, 
.project-in-digits a {
	margin-top: 50px;
	display: inline-block;
	padding: 16px 24px;
	background: #B8EE46;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}

.redevelopment-list {
	list-style-type: none;
}

.redevelopment-list li {
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 51px;
}

.redevelopment-list li:before {
    color: #B8EE46; 
    content: "\25A0"; 
    padding-right: 21px;
	font-size: 28px;
}

.redevelopment-list li span {
	color: #fff;
	font-size: 18px;
}

.subscribe-in-soc {
	padding: 18px 0 28px 0; 

}

.subscribe-in-soc .row {
	align-items: center;
}

.mob-subscribe_txt {
	display: block;
	font-family: Montserrat;
	margin-bottom: 18px;
}

.subscribe-in-soc .img-and-txt {
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.subscribe-in-soc .soc-icons {
	margin-top: 20px;
}

.soc-icons {
	display: flex;
}

.soc-icons div {
	margin: 0 14px;
}

.subscribe-in-soc .img-and-txt p {
	padding-top: 15px;
	font-size: 24px;
	line-height: 28px;
}

.contacts {
	padding: 20px 0 0 0;
}

.contacts h2 {
	font-family: Montserrat;
	font-weight: 800;
	font-size: 40px;
	margin-bottom: 35px;
}

.contacts .address-on-map {
}

.contacts .map {
	padding-left: 0;
	padding-right: 0;
}

.contacts-and-schedule, .contacts-and-schedule-mob {
	background-color: #CEF47E;
	font-family: Montserrat;
	padding: 31px 31px 31px 18px;
	font-size: 18px;
}

.contacts-and-schedule {
	display: none;
}

.contacts-mob .contacts-and-schedule-mob {
	background-color: #ffffff;
}

.contacts-and-schedule p,
.contacts-and-schedule-mob p,
.operating-mode,
.contacts-email {
	margin-bottom: 26px;
}

.contacts-and-schedule .our-address:first-child,
.contacts-and-schedule-mob .our-address:first-child {
	margin-bottom: 0;
}

.our-address, .operating-mode {
	color: #333333;
}

.contacts-and-schedule ul li,
.contacts-and-schedule-mob ul li {
	list-style-type: none;
}

.contacts-and-schedule p,
.contacts-and-schedule-mob p {
	max-width: 310px;
}



.mobile-nums a, .contacts-email a {
	color: #000;
	text-decoration: none;
}

footer {
	padding: 38px 0 38px 0;
	font-family: Roboto;
}


footer, .footer {
	background-color: #333333;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.footer p {
	text-decoration: underline;
	margin-bottom: 0;
}

.footer p, .footer a {
	color: #fff;
}

.footer-info ul {
	margin-bottom: 18px;
	display: none;
}

.footer-info ul li {
	list-style-type: none;
	color: #fff;
}

.footer-info p, .privacy-vs-soc-icons p {
	text-decoration: none;
	display: none;
}

.footer-info .mob-ftr-phone {
	display: block;
	font-family: Montserrat;
}

.footer-soc-icons {
	justify-content: flex-end;
}

.footer-soc-icons {
	display: flex;
}

.footer-soc-icons div {
	
}

.ftr-icon-inst {
	margin-right: 26px;
}

.black_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0000007a;
	z-index: 99999;
	display: none;
}

.pop_up {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	height: auto;
	max-width: 746px;
	background: #333333;
	padding: 15px;
	display: none;
	z-index: 999999;
}

.pop_up p, 
.pop_up select, 
.pop_up label, 
.pop_up input::placeholder {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 18px;
}

.pop_up > p {
	text-align: center;
	font-size: 22px;
	margin: 0 auto;
	margin-top: 51px;
	font-weight: 600;
	font-size: 36px;
}

.pop_up select {
	width: 100%;
	height: 53px;
	background: #333333;
	border: 1px solid #B8EE46;
	padding-left: 10px;
}

.pop_up form {
	max-width: 564px;
	margin: 0 auto;
}

.new-select-style select {
	border-radius: 0;
    background: transparent;
    border: 0;
    line-height: 1;
    -webkit-appearance: none;
}

.new-select-style {
	border: 1px solid #B8EE46;
    overflow: hidden; 
	background: url('../img/SelectArrow.png') no-repeat right 10px center, calc(100% - 10px) center #333333;
}

.pop_up label {
	margin-bottom: 6px;
	margin-top: 35px;
}

.pop_up input[type=text]{
	height: 53px;
	display: block;
	color: #ffffff;
	margin-top: 15px;
	border: 1px solid #B8EE46;
	outline: none;
	background: #333333;
	width: 100%;
}

.pop_up input::placeholder {
	padding-left: 14px;
}

.pop_up button {
	display: block;
	cursor: pointer;
	height: 61px;
	width: 100%;
	border: none;
	outline: none;
	margin: 20px auto;
	background: #B8EE46;
	color: #333333;
	font-family: Montserrat;
	font-weight: 500;
}

.close_pop {
	position: absolute;
	top: -10px;
	right: -10px;
	height: 30px;
	width: 30px;
	background: #444;
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
}


@media only screen and (max-width: 1357px) {
	.top-section_img_wrapper img {
		max-width: 780px;
	}
	.top-section_headline_desctop {
		padding-top: 188px;
		padding-bottom: 130px;
	}
	.top-section_headline h1 {
		font-size: 53px;
	}
	.top-section_headline p {
		font-size: 25px;
	}
}

@media only screen and (min-width: 1357px) {
	.dots-of-squares {
		margin-top: 80px;
	}

}

@media only screen and (min-width: 1200px) {
	.dots-of-squares {
		display: block;
	}
}
@media only screen and (max-width: 1133px) {
	.top-section_img_wrapper img {
		max-width: 660px;
	}
	.top-section_headline h1 {
		font-size: 44px;
	}
	.top-section_headline p {
		font-size: 22px;
	}
}

@media screen and (min-width: 641px) and (max-width: 1287px) {
	
	.big-digit {
	    font-size: 87px;
	}
	.mob-subscribe_txt {
		display: none;
	}
	.subscribe-in-soc .img-and-txt p {
		display: block;
	}

}

@media screen and (min-width: 641px) and (max-width: 991px) {

	.project-in-digits {
		min-height: 1500px;
	}
	.we-guarantee {
	    margin-top: 100px;
	}

}

@media only screen and (max-width: 985px) {
	.top-section_img_wrapper {
		position: static;
		margin-right: -15px;
		margin-left: -15px;
		margin-top: 50px;
	}
	.top-section_img_wrapper img {
		width: 100%;
		max-width: 100%;
		height: auto;

	}
	.top-section_headline_desctop {
		padding-top: 188px;
	}
	.top-section_headline h1 {
		font-size: 64px;
	}
	.top-section_headline p {
		font-size: 32px;
	}
}
@media only screen and (max-width: 853px){.top-section_headline h1{font-size: 53px;}.top-section_headline p{font-size: 28px;}}
@media only screen and (max-width: 749px){.top-section_headline h1{font-size: 46px;}.top-section_headline p{font-size: 24px;}}
@media only screen and (max-width: 749px){.top-section_headline h1{font-size: 46px;}.top-section_headline p{font-size: 24px;}}
@media only screen and (max-width: 647px) {
	.top-section_headline_desctop {
		display: none;
	}
	header .logo {
		display: none;
	}
	.top_section_mob {
		padding-top: 220px;
		padding-bottom: 250px;
		margin-top: -60px;
		background: url(../img/mob-top-bg.jpg) center/cover no-repeat;
	}
	.mob_top_headline {
		color: #fff;
		font-size: 16px;
		line-height: 20px;
		font-weight: 600;
		font-family: Montserrat;
		margin-top: 17px;
	}
	.top_section_mob_wrapper {
		background: rgba(196, 196, 196, 0.02);
		opacity: 0.9;
		backdrop-filter: blur(20px);
		padding: 20px 0;
	}
	.top-section button {
		border: none;
		outline: none;
		background: #B8EE46;
		display: block;
		margin: 97px auto 0;
		max-width: 204px;
		padding: 20px 25px;
		font-family: Montserrat;
		font-size: 18px;
		cursor: pointer;
	}
}
@media only screen and (min-width: 647px) {

	.top_section_mob {
		display: none;
	}

}


@media only screen and (max-width: 640px) {

	h2 {
		font-size: 24px !important;
	}

	p {
		font-size: 16px;
	}

	.slider-services .slick-dots {
		display: block !important;
	}

	.slider-services .slick-dots {
	    bottom: 5px;
	}

	.slider-services .item {
	    padding: 40px 30px 75px 30px;
	}
		
	.slider-services .slick-next.slick-arrow:before {
		display: none !important;
	}

	.slick-slide p {
		font-size: 16px;
	}

	.slick-next.slick-arrow,
	.slick-prev.slick-arrow {
		display: none !important;
	}

	.contacts-and-schedule-mob {
		display: block;
	}

	.mob-subscribe_txt p {
		display: block;
	}

	.img-and-txt p {
		display: none;
	}

	.contacts .map-vs-cntct-info {
		flex-direction: column;
	}

	.bg-half-green {

	}

	.project-in-digits {
		clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
		background-position: 47% center;
	}

	.project-in-digits h2 {
		margin-top: 51px;
	}

	.project-in-digits p {
		max-width: 270px;
		margin: 0 auto;
	}

	.project-in-digits p, 
	.project-in-digits .h3 {
		font-weight: 600;
	}

	.project-in-digits .h3:first-child {
		margin-bottom: 30px;
	}

	.project-in-digits .h3 {
		max-width: 100%;
	}

	.we-guarantee {
		margin-top: 25px;
	}

	.project-in-digits .h3, .amount-and-prices p, .amount-and-prices .p {
		font-size: 16px;
	}

	.amount-and-prices div {
		margin-bottom: 63px;
	}

	.big-digit {
		font-size: 100px;
	}

	.project-in-digits a {
		margin-bottom: 67px;
	}

	.get-consultation{
		font-size: 17px;
	}

	.px-xs {
		padding: 0 15px;
	}

	.slider-license-docs .item img {
		margin: 0 auto;
	}
	
}

@media only screen and (min-width: 641px) {

	.contacts {
		background: url(../img/newbg.png);
    	background-repeat: no-repeat;
    	width: 100%;
	    height: 100vh;
	    max-height: 855px;
	    padding: 110px 0 45px 0;
	    background-position: right 100%;
	    background-color: #f6f6f6;
	   /* background-size: 89% 75%;*/
	    background-size: 90rem auto;
	    right: 0;
	}
	.contacts h2 {
		margin-bottom: 70px;
	}
	.contacts-mob {
		display: none;
	}
	.contacts-and-schedule {
		display: block;
	}
	.mob-subscribe_txt p {
		display: none;
	}
	.soc-icons img {
		width: 92px;
		height: 92px;
	}
	.img-and-txt p {
		display: block;
	}
	
}

@media only screen and (min-width: 768px) {
	.contacts .map {
		padding-right: 0;
		padding-left: 15px;
	}

	.contact-txt-info {
		padding-left: 0;
	}

	footer {
		padding: 25px 0 35px 0;
	}

	.footer {
		align-items: flex-end;
	}

	.footer-info ul, .footer-info p, .privacy-vs-soc-icons p {
		display: block;
	}

	.footer-info .mob-ftr-phone {
		display: none;
	}

	.footer-soc-icons {
		margin-bottom: 20px;
	}
}



@media only screen and (min-width: 1280px) {
	nav {
		display: block;
	}
	.contacts {
	    background-size: 83.5rem 100%;
	}
}

@media only screen and (min-width: 1366px) {
	.contacts {
	    background-size: 87.6rem 100%;
	}
}

@media only screen and (min-width: 1536px) {
	.contacts {
	    background-size: 93.2rem 100%;
	}
}


@media only screen and (min-width: 1600px) {
	.contacts {
	    background-size: 95.5rem 100%;
	}
}


@media only screen and (min-width: 1680px) {
	.contacts {
	    background-size: 98.5rem 100%;
	}

}

@media only screen and (min-width: 1920px) {
	.contacts {
	    background-size: 106rem 100%;
	}
}


@media only screen and (min-width: 2048px) {
	.contacts {
	    background-size: 110.7rem 100%;
	}
}

@media only screen and (min-width: 2560px) {
	.contacts {
	    background-size: 127.6rem 100%;
	}
}


.project-documentation {
	background-color: #333333;
	padding: 90px 0;
	z-index: -99;
}

